body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    margin-top: 0;
    padding: 0;
  }
  
  .App-header {
    background-color: #007bff;
    padding: 20px;
    color: white;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .Places {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.833);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding-top: 40px;
  }
  
  .Places h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(33% - 20px);
    margin-bottom: 20px;
  }
  
  .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 15px;
    text-align: center;
  }
  
  .card-content h2 {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .card-content p {
    color: #777;
    margin: 10px 0;
  }
  
  .card-content button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .card-content button:hover {
    background-color: #0056b3;
  }

  
  .Places {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .card-container,
  .parking-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
  }
  
  .card,
  .parking-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: center;
    transition: transform 0.2s;
  }
  
  .card:hover,
  .parking-card:hover {
    transform: scale(1.05);
  }
  
  .card-image {
    border-radius: 8px;
    height: 150px;
    object-fit: cover;
    width: 100%;
  }
  
  .card-content,
  .parking-card-content {
    margin-top: 15px;
  }
  
  button {
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .back-button {
    margin-bottom: 20px;
    background-color: #6c757d;
  }
  
  .date-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  .date-inputs label {
    margin-right: 5px;
  }
  
  .date-inputs input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .error {
    color: red;
    font-weight: bold;
  }